# code: language=ansible
---
- name: "Final message"
  ansible.builtin.debug:
    msg: |
      "Root CA certificate is available at http://{{ root_ca_name }}.{{ root_ca_domain }}/{{ root_ca_name }}.crt"
      "Root CA CRL is available at http://{{ root_ca_name }}.{{ root_ca_domain }}/{{ root_ca_name }}.crl"
