# code: language=ansible
---
- name: "Generate a root CA CRL (in case the key is encrypted)"
  ansible.builtin.command: openssl ca -gencrl -config /ca/openssl.cnf -out /ca/{{ root_ca_ca_name }}.crl -passin pass:{{ root_private_key_pass.user_input }}
  when: root_private_key_pass.user_input is defined

- name: "Generate a root CA CRL (if the key is unencrypted)"
  ansible.builtin.command: openssl ca -gencrl -config /ca/openssl.cnf -out /ca/{{ root_ca_ca_name }}.crl
  when: root_private_key_pass.user_input is not defined

- name: "Fix permissions on the CRL"
  ansible.builtin.file:
    path: "/ca/{{ root_ca_ca_name }}.crl"
    state: file
    mode: "0640"
    owner: "{{ root_ca_ca_user }}"
    group: "{{ root_ca_ca_group }}"
