# code: language=ansible
---
- name: "Ask for a passphrase if root CA private key must be encrypted"
  ansible.builtin.include_tasks: passphrase.yml

- name: "Make CA directory structure and CA DB files"
  ansible.builtin.include_tasks: dir_struct_and_db_files.yml

- name: "Generate root CA CSR"
  ansible.builtin.include_tasks: generate_csr.yml

- name: "Selfsign root CA certificate"
  ansible.builtin.include_tasks: sign_certificate.yml

- name: "Generate root CA CRL"
  ansible.builtin.include_tasks: generate_crl.yml

- name: "Install apache2 web-server and publish the CRT and CRL"
  ansible.builtin.include_tasks: publish_crt_and_crl.yml

- name: "Make a cron job to generate root CA CRL periodically according to a scheduler"
  ansible.builtin.include_tasks: make_cron_job.yml
