distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
C = {{ sign_certificate_country }}
ST = {{ sign_certificate_state }}
O = {{ sign_certificate_organization }}
CN = {{ item.cn }}
[v3_req]
subjectAltName = @alt_names
[alt_names]
{% for i in item.sans -%}
{{ i }}
{% endfor %}
